html {
    color: #333;
    position: relative;
    min-height: 100%;
  }
  

  body {
    background-color: rgb(107, 187, 214);
    margin-bottom: 60px; /* Margin bottom by footer height */
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
  }

  *{
    box-sizing: border-box;
  }